{% trans_default_domain 'kalamu' %}

<div id="nav-spy">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h4 class="">{{ "Configuration options"|trans }}</h4>
        </div>
        <div class="box-body">
            <ul class="nav tray-nav tray-nav-border">
                {% for name, config in configurators %}
                    <li {{part == name ? 'class="active"' : ''}}>
                        <a href="{{path('dynamique_configurator', {part: name})}}">{{config.label|raw}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

